<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038465106983-n25vgg30l5srq41d6krr5t6jth7gdkob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038465106983-n25vgg30l5srq41d6krr5t6jth7gdkob</string>
	<key>API_KEY</key>
	<string>AIzaSyAbBejc21k6YXuj6aztfzagPAFtjO6pEg0</string>
	<key>GCM_SENDER_ID</key>
	<string>1038465106983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cui.donde-app</string>
	<key>PROJECT_ID</key>
	<string>donde-app-restaurants</string>
	<key>STORAGE_BUCKET</key>
	<string>donde-app-restaurants.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038465106983:ios:2e500dc4767c8b40a53a02</string>
	<key>DATABASE_URL</key>
	<string>https://donde-app-restaurants.firebaseio.com</string>
</dict>
</plist>